@import "variables";

.tabbed {
  display: flex;
  ul.tabContent {
    padding: 2em;
    margin: 0 0 0 2em;
    width: 100%;
    background-color: rgb(250, 250, 250);
    border: 1px solid #dbdbe0;
    // display: flex;
    box-shadow: 1px 2px 2px rgba(100, 100, 100, 0.1);

    position: relative;
    overflow: hidden;
    height: auto;
    transition: all 100ms ease;
    li {
      display: none;
      //   position: absolute;
      //   top: 0px;
      //   left: 0px;
      //   float: left;
      &.active {
        display: block;
      }
    }
  }
}
ul.tabIcons {
  li {
    &:nth-child(1) {
      margin-top: 1.5em;
    }
    span.icon {
      padding: 0.85em;
      overflow: hidden;
      //   width: 2em;
      //   height: 2em;
      display: inline-flex;
      background-color: $accent;
      margin: 0.2em 0;
      border: 1px solid #dbdbe0;
      border-radius: 5%;
      //   box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
      align-content: center;
      justify-content: center;
      align-items: center;
      &:hover {
        // transform: scale(1.1);
        background-color: $accent-light;
      }
      &.active {
        // transform: scale(1.1);
        background-color: #fff;
      }
      transition: all 100ms ease-in-out;
      cursor: pointer;
    }
    // &:hover {
    //   span.icon {
    //     transform: scale(1.5);
    //   }
    // }
  }
}
