header {
  display: flex;
  justify-content: space-between;
  strong {
    padding: 0 1em;
  }
  nav {
    // float: right;
    ul {
      display: flex;
      justify-content: space-evenly;
      li {
        padding: 0 0.3em;

        a {
          cursor: pointer;
        }
      }
    }
  }
}
