@import "variables";
@import "fonts";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: white;
  color: rgb(120, 129, 149);
  font-family: "Titillium Web", Calibri, Arial, sans-serif;
}
#root {
  overflow: hidden;
  min-width: 460px;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.wrapper {
  width: 100%;
  // background-color: $dark-bg;
  &.content {
    background-color: $rest-bg;
  }
}
.contentWrapper {
  // border-right: 1px solid white;
  // border-left: 1px solid white;
  max-width: 1200px;
  margin: 0 auto;
  padding: 5px 0;
  // background-color: $dark-bg;
  section {
    // height: 250px;
    margin: 10px 0px;
    padding: 1em 5em 3em 5em;
    background-color: #f2f2f4;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.08);
    &:nth-child(1) {
      margin-top: 2em;
    }
    h1 {
      font-size: 2em;
      position: relative;
      margin: 1em 0.5em 1em 0;
      &:after {
        content: " ";
        width: 1.1em;
        height: 1em;
        border-bottom: $jingil;
        display: block;
        position: absolute;
        // vertical-align: middle;
        bottom: 0;
        left: -0.01em;
      }
    }
  }
}

.headerWrapper {
  background-color: $lighter-bg;
}
.jumboWrapper {
  background: $dark-bg;
  position: relative;

  &:before {
    // content: " ";
    background-color: $dark-bg;
    background-image: url("../static/bg.jpg");
    background-size: cover;
    background-blend-mode: luminosity;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 0;
    opacity: 0.1;
  }
}
